.container {
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 700px !important;
}

canvas {
    border: 1px solid black;
    background-color: #fff;
    display: block;
}

.canvas-container {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #aaa;
    display: inline-block;
}